**Importing Libraries**

In [ ]:
import numpy as np
import pandas as pd

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

**Import the Dataset**

In [ ]:
from google.colab import files
uploaded=files.upload()

Saving grocery_data.csv to grocery_data.csv

**Read the Dataset**

In [ ]:
import pandas as pd
import io
df = pd.read_csv(io.BytesIO(uploaded['grocery_data.csv']))

In [ ]:
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552    5/1/2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12/12/2015  other vegetables
4           3037    1/2/2015        whole milk

**Apriori Preparation**

In [ ]:
df['orderID'] = df.groupby(['Member_number','Date']).ngroup()
df = df.sort_values('orderID')
df.head()

       Member_number        Date      itemDescription  orderID
8395            1000  15-03-2015           whole milk        0
4843            1000  15-03-2015              sausage        0
20992           1000  15-03-2015  semi-finished bread        0
24544           1000  15-03-2015               yogurt        0
13331           1000  24-06-2014           whole milk        1

In [ ]:
del df['Member_number']
del df['Date']
df.head()

           itemDescription  orderID
8395            whole milk        0
4843               sausage        0
20992  semi-finished bread        0
24544               yogurt        0
13331           whole milk        1

In [ ]:
transaction = [list(df[df['orderID'] == i]['itemDescription']) for i in set(df.orderID)]
transaction[:15]

[['whole milk', 'sausage', 'semi-finished bread', 'yogurt'],
 ['whole milk', 'pastry', 'salty snack'],
 ['canned beer', 'misc. beverages'],
 ['sausage', 'hygiene articles'],
 ['pickled vegetables', 'soda'],
 ['whole milk', 'soda'],
 ['beef', 'white bread'],
 ['curd', 'frankfurter'],
 ['frankfurter', 'whipped/sour cream', 'soda'],
 ['whole milk', 'rolls/buns', 'sausage'],
 ['butter', 'whole milk'],
 ['sugar', 'tropical fruit'],
 ['specialty chocolate', 'butter milk'],
 ['frozen vegetables', 'other vegetables'],
 ['sausage', 'rolls/buns']]

In [ ]:
transaction_encoder = TransactionEncoder()
transaction_encoder_data = transaction_encoder.fit(transaction).transform(transaction)
transactions = pd.DataFrame(transaction_encoder_data,columns=transaction_encoder.columns_)
transactions

       Instant food products  UHT-milk  ...  yogurt  zwieback
0                      False     False  ...    True     False
1                      False     False  ...   False     False
2                      False     False  ...   False     False
3                      False     False  ...   False     False
4                      False     False  ...   False     False
...                      ...       ...  ...     ...       ...
14958                  False     False  ...   False     False
14959                  False     False  ...   False     False
14960                  False     False  ...   False     False
14961                  False     False  ...   False     False
14962                  False     False  ...   False     False

[14963 rows x 167 columns]

**Apriori Results**

In [ ]:
apriori = apriori(transactions,min_support=0.001,use_colnames=True)
apriori

      support                           itemsets
0    0.004010            (Instant food products)
1    0.021386                         (UHT-milk)
2    0.001470                 (abrasive cleaner)
3    0.001938                 (artif. sweetener)
4    0.008087                    (baking powder)
..        ...                                ...
745  0.001136  (whole milk, rolls/buns, sausage)
746  0.001002     (whole milk, rolls/buns, soda)
747  0.001337   (whole milk, yogurt, rolls/buns)
748  0.001069        (soda, whole milk, sausage)
749  0.001470      (yogurt, whole milk, sausage)

[750 rows x 2 columns]

In [ ]:
rules = association_rules(apriori, metric="confidence", min_threshold=0.01)
rules.head(15)

           antecedents         consequents  ...  leverage  conviction
0           (UHT-milk)     (bottled water)  ... -0.000228    0.988755
1      (bottled water)          (UHT-milk)  ... -0.000228    0.996168
2           (UHT-milk)  (other vegetables)  ... -0.000473    0.975443
3   (other vegetables)          (UHT-milk)  ... -0.000473    0.996060
4           (UHT-milk)        (rolls/buns)  ... -0.000548    0.972009
5         (rolls/buns)          (UHT-milk)  ... -0.000548    0.994934
6           (UHT-milk)   (root vegetables)  ... -0.000485    0.976187
7    (root vegetables)          (UHT-milk)  ... -0.000485    0.992921
8           (UHT-milk)           (sausage)  ... -0.000154    0.992371
9            (sausage)          (UHT-milk)  ... -0.000154    0.997391
10          (UHT-milk)              (soda)  ... -0.000807    0.959887
11              (soda)          (UHT-milk)  ... -0.000807    0.991580
12          (UHT-milk)    (tropical fruit)  ...  0.000088    1.004426
13    (tropical fruit)          (UHT-milk)  ...  0.000088    1.001326
14          (UHT-milk)        (whole milk)  ... -0.000838    0.955549

[15 rows x 9 columns]

In [ ]:
rules.sort_values('confidence', ascending = False, inplace=True)
rules.head(15)

                antecedents   consequents  ...  leverage  conviction
1196      (yogurt, sausage)  (whole milk)  ...  0.000563    1.131541
1178  (rolls/buns, sausage)  (whole milk)  ...  0.000292    1.069304
1191        (sausage, soda)  (whole milk)  ...  0.000130    1.026642
1087  (semi-finished bread)  (whole milk)  ...  0.000172    1.022008
1187   (yogurt, rolls/buns)  (whole milk)  ...  0.000102    1.015701
1197  (whole milk, sausage)      (yogurt)  ...  0.000701    1.093681
580             (detergent)  (whole milk)  ...  0.000042    1.005814
722                   (ham)  (whole milk)  ...  0.000038    1.002659
148          (bottled beer)  (whole milk)  ... -0.000005    0.999874
648           (frozen fish)  (whole milk)  ... -0.000007    0.998743
313                 (candy)  (whole milk)  ... -0.000131    0.989326
1084              (sausage)  (whole milk)  ... -0.000575    0.988811
895                (onions)  (whole milk)  ... -0.000257    0.985133
1005     (processed cheese)  (rolls/buns)  ...  0.000353    1.040610
1008     (processed cheese)  (whole milk)  ... -0.000134    0.984582

[15 rows x 9 columns]

In [ ]:
rules.sort_values('lift', ascending = False, inplace=True)
rules.head(15)

                antecedents            consequents  ...  leverage  conviction
1199              (sausage)   (yogurt, whole milk)  ...  0.000797    1.013532
1195   (yogurt, whole milk)              (sausage)  ...  0.000797    1.082219
1197  (whole milk, sausage)               (yogurt)  ...  0.000701    1.093681
1198               (yogurt)  (whole milk, sausage)  ...  0.000701    1.008307
472          (citrus fruit)  (specialty chocolate)  ...  0.000555    1.010726
471   (specialty chocolate)         (citrus fruit)  ...  0.000555    1.038081
1196      (yogurt, sausage)           (whole milk)  ...  0.000563    1.131541
613        (tropical fruit)                (flour)  ...  0.000408    1.006118
614                 (flour)       (tropical fruit)  ...  0.000408    1.046969
90              (beverages)              (sausage)  ...  0.000537    1.035704
91                (sausage)            (beverages)  ...  0.000537    1.009129
1194              (sausage)     (whole milk, soda)  ...  0.000368    1.006200
1190     (whole milk, soda)              (sausage)  ...  0.000368    1.034806
835                (pastry)              (napkins)  ...  0.000593    1.011869
836               (napkins)               (pastry)  ...  0.000593    1.029109

[15 rows x 9 columns]

In [ ]:
rules.sort_values('support', ascending = False, inplace=True)
rules.head(15)

             antecedents         consequents  ...  leverage  conviction
937   (other vegetables)        (whole milk)  ... -0.004446    0.958551
938         (whole milk)  (other vegetables)  ... -0.004446    0.968928
1035        (whole milk)        (rolls/buns)  ... -0.003404    0.976350
1036        (rolls/buns)        (whole milk)  ... -0.003404    0.964550
1115              (soda)        (whole milk)  ... -0.003707    0.956636
1114        (whole milk)              (soda)  ... -0.003707    0.974663
1158        (whole milk)            (yogurt)  ... -0.002401    0.983638
1157            (yogurt)        (whole milk)  ... -0.002401    0.967861
907   (other vegetables)        (rolls/buns)  ... -0.002872    0.974249
908         (rolls/buns)  (other vegetables)  ... -0.002872    0.971117
921               (soda)  (other vegetables)  ... -0.002166    0.975219
920   (other vegetables)              (soda)  ... -0.002166    0.980729
1083        (whole milk)           (sausage)  ... -0.000575    0.996140
1084           (sausage)        (whole milk)  ... -0.000575    0.988811
1139        (whole milk)    (tropical fruit)  ... -0.002482    0.983422

[15 rows x 9 columns]